{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="sidebox">
        <a href="/short_line_model"><div class="text">INTRODUCTION</div></a>
        <a href="/short_line_model/symmetrical"><div class="text">SYMMETRICAL MODEL</div></a>
        <a href="/short_line_model/unsymmetrical"><div class="text">UNSYMMETRICAL MODEL</div></a>
    </div>
    <div class="center">
        <div class="sidebox_rest">
            <div class="form">
                <form method="POST">
                    <div class="text">No of sub-conductors</div>
                    <input type="text" name ="n_s_c" value="1"><br><br>
                    <div class="text">Spacing between the conductors A and B (m)</div>
                    <input type="text" name ="d_a" value="0.3"><br><br>
                    <div class="text">Spacing between the conductors B and C (m)</div>
                    <input type="text" name ="d_b" value="0.4"><br><br>
                    <div class="text">Spacing between the conductors C and A (m)</div>
                    <input type="text" name ="d_c" value="0.5"><br><br>
                    <div class="text">No of sub conducters per bundle</div>
                    <input type="text" name ="n_sub_bundle" value="3"><br><br>
                    <div class="text">Spacing between the sub conducters (cm)</div>
                    <input type="text" name ="spacing" value="3"><br><br>
                    <div class="text">No of strands</div>
                    <input type="text" name ="n_strands" value="7"><br><br>
                    <div class="text">Strand diameter (mm)</div>
                    <input type="text" name ="d_strand" value="5"><br><br>
                    <div class="text">Length of Line (km)</div>
                    <input type="text" name ="l" value="11"><br><br>
                    <div class="text">Resistance / km </div>
                    <input type="text" name ="R" value="0.741"><br><br>
                    <div class="text">Power Frequency</div>
                    <input type="text" name ="f" value="50"><br><br>
                    <div class="text">Nominal system voltage</div>
                    <input type="text" name ="Vr" value="23000"><br><br>
                    <div class="text">Receiving end load (MW)</div>
                    <input type="text" name ="Pr" value="11"><br><br>
                    <div class="text">Power factor</div>
                    <input type="text" name ="pf" value="0.84"><br><br>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}