{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="sidebox">
        <a href="/short_line_model"><div class="text">INTRODUCTION</div></a>
        <a href="/short_line_model/symmetrical"><div class="text">SYMMETRICAL MODEL</div></a>
        <a href="/short_line_model/unsymmetrical"><div class="text">UNSYMMETRICAL MODEL</div></a>
    </div>
    <div class="center">
        <div class="sidebox_rest">
            <div class="form">
                <form method="POST">
                    <div class="text">Spacing between conductors</div>
                    <input type="text" name ="d" value="3"><br><br>
                    <div class="text">No of sub-conductors</div>
                    <input type="text" name ="n_s_c" value="1"><br><br>
                    <div class="text">Spacing between the sub-conductors </div>
                    <input type="text" name ="sub_space" value="3"><br><br>
                    <div class="text">No of strands</div>
                    <input type="text" name ="strand" value="5"><br><br>
                    <div class="text">Strand diameter</div>
                    <input type="text" name ="strand_dia" value="7"><br><br>
                    <div class="text">Length of the Line (km)</div>
                    <input type="text" name ="l" value="11"><br><br>
                    <div class="text">Resistance / km </div>
                    <input type="text" name ="r" value="3"><br><br>
                    <div class="text">Frequency</div>
                    <input type="text" name ="f" value="5"><br><br>
                    <div class="text">Nominal system voltage</div>
                    <input type="text" name ="Vr" value="6"><br><br>
                    <div class="text">Receiving end load (MW)</div>
                    <input type="text" name ="load" value="1"><br><br>
                    <div class="text">Power factor</div>
                    <input type="text" name ="pf" value="0.88"><br><br>
                    <input type="submit" value="Submit">
                </form>
                <div class="flashed">   
                {% with messages = get_flashed_messages() %}  
                {% if messages %}  
                        {% for message in messages %}  
                            <div class="text">{{ message }}</p></div> 
                        {% endfor %}  
                {% endif %}  
                {% endwith %} 
                </div> 
            </div>
        </div>
    </div>


{% endblock %}